---
permalink: "/products.json"
eleventyExcludeFromCollections: true
---
[
{% for p in collections.products %}
{% if p.data.active %}
  {
    "id": "{{ p.data.sku }}",
    "name": "{{ p.data.title }}",
    "price": {{ p.data.price }},
    "url": "{{ p.url }}",
    "image": "{{ p.data.image }}",
    "description": {{ p.data.description | dump }}
  }{% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}
]
